$default-font: "roboto-light", sans-serif
$accent: orange
$white: #fff
$black: #000
$content-header-color: #7c9a98
$container-element-background: #303030

//Services icon on hover effects
$service-icon-color: #aba8a8
$service-icon-color-hover: #f0d916
$ground-icon-hover-color: #ab602a
$economics-icon-hover-color: #ddda0f
$climate-icon-hover-color: #0ce4ff
$decade-data-icon-hover-color: #ff4f0c
$description-on-black-background-color: #cccccc
$temperature-hover-icon-color: red
$deviations-hover-icon-color: blue
$climate-potential-hover-icon-color: rgb(15,217,0)
$sunflower-hover-icon-color: yellow
$corn-hover-icon-color: orange
$same-years-hover-icon-color: $white
