@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
a
	transition: all ease-in .4s

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
h5
	font-size: 18px
h4
	font-size: 21px
.img-responsive
	display: block
	max-width: 100%
	height: auto

.fl
	float: left
.fr
	float: right
.main-menu
	margin: 0
	margin-top: 5px
	li
		display: inline-block
		font-size: 16px
		text-transform: uppercase
		a
			color: black
			display: inline-block
			vertical-align: middle
			padding-top: 10px
			padding-bottom: 10px
			padding-left: 18px

.header-top
	height: 60px

.logo
	margin-top: -4px

.logo-image
	padding: 5px 0
	padding-top: 10px
	height: 60px
.msh-image
	margin-top: 15px
	pading-right: 10px
	pading-bottom: 2px
	height: 40px

.sniish_text
	padding-top: 10px
	font-size: 16px
	padding-left: 10px
	&.msh_text
		margin-right: 20px
	p
		margin-bottom: 0
		&:last-child
			margin-top: -7px


.header-page-name
	height: 100px
	position: relative
	background-image: url("../img/header-background-image.jpg")
	color: $white
	&:before
		content: ''
		position: absolute
		display: block
		background: linear-gradient(to left, rgba(255,255,255,0.7), #388238)
		height: 100%
		width: 100%
		top: 0
		left: 0
	.temperature
		color: $black
		margin-top: 20px
		.current-temperature
			font-size: 25px
		.current-temperature--city
			margin-top: -20px
	.page-name--heading
		margin-top: 10px
		.page-name--main-message
			font-size: 30px
		.page-name--description
			font-size: 14px
			margin-top: -17px

.content-header-color
	background-color: $content-header-color
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	color: $white
	h4
		padding: 30px 0
		padding-left: 20px
		margin: 0
.container-elements
	background-color: $white
	border-bottom-left-radius: 5px
	border-bottom-right-radius: 5px
	overflow: hidden
	.container-elements-element
		margin-top: 30px
		overflow: hidden
		background-color: $container-element-background
		color: $white
		border-radius: 10px
		text-align: center
		max-height: 200px
		transition: all ease-out .4s
		&:hover
			background-color: $black
			.service-icon
				transform: translateY(-100px)
				&.ground-icon-hover-color
					fill: $ground-icon-hover-color
				&.economics-icon-hover
					fill: $economics-icon-hover-color !important
				&.climate-icon-hover
					fill: $climate-icon-hover-color
				&.decade-data-icon-hover
					fill: $decade-data-icon-hover-color
				&.temperature--hover-icon
					fill: $temperature-hover-icon-color
				&.deviation-hover-icon
					fill: $deviations-hover-icon-color
				&.climate-potential-hover-icon
					fill: $climate-potential-hover-icon-color
				&.sunflower-hover-icon
					fill: $sunflower-hover-icon-color
				&.corn-hover-icon
					fill: $corn-hover-icon-color
				&.same-years-hover-icon
					fill: $same-years-hover-icon-color
			.service-description
				transform: translateY(-100px)
.content-container
	background-color: #ebebeb
	a
		text-decoration: none
	.service-icon
		fill: $service-icon-color
		transition: all ease-out .4s
	.service-description
		background-color: #cdcdcd
		color: $black
		height: 100px
		transition: all ease-out .4s
		p
			padding: 10px 7px
			text-align: left
	.service-name
		padding-top: 10px
		padding-left: 5px
		padding-bottom: 25px
.block-container
	margin-top: 50px
	border-radius: 5px
	box-shadow: 1px 1px 5px grey

.fixed-menu
	box-shadow: -3px 3px 7px 0 #3c3c3c
	width: 100%
	display: block
	overflow: visible
	background-color: #fff
	position: fixed
	z-index: 9999
	overflow: hidden
.padding-top-fix
	margin-top: 10px
.last-container
	margin-bottom: 60px
footer
	.footer-heading
		margin: 30px 0
		color: $white
	.top-footer--container
		background: linear-gradient(to bottom, #286715, #11280a)
	.bottom-footer--container
		padding-top: 10px
		background: #11280a
	.footer-info--heading
		color: $white
		margin-bottom: 0
	.footer-info--description
		color: $description-on-black-background-color
		line-height: 1.2em
	a
		color: $description-on-black-background-color
		&:hover, &:active, &:visited
			color: $description-on-black-background-color

.authorization-container
	//align-items: center
	min-height: 300px
input[type=text]
	&:focus
		border-color: green !important
		outline-color: green !important
span
	&.important-field
		color: darkred
.pl20
	padding-left: 20px

.modal-climate
	padding: 20px !important

.warning-message
	//border: 2px solid grey
	box-shadow: 1px 10px 10px grey
	padding: 10px 20px
	margin-top: 20px
	background-color: #fff !important

.close-icon
	font-size: 1.4em
	color: grey
	cursor: pointer
	padding: 10px
	padding-top: 5px
	padding-right: 5px
a
	&.not-link-style
		color: black

.get-period--form
	margin-top: 20px

.show-graph--button
	margin-top: 15px
	margin-bottom: 40px

div.content
	p
		font-size: 1.2em

.get-data-form--heading
	margin-top: 50px

.full-screen-height
	min-height: 75vh
@import "media" // Всегда в конце

.select-al-month--button
	outline: transparent !important
.legend
	font-family: 'roboto-light'

.save-visibility--button
	margin-left: 40px

.notification-message
	width: 250px
	height: 150px
	position: fixed
	right: 0
	top: 0
	padding: 10px 0
	transition: all ease-in .4s
	transform: translateY(-50px)
	&.active
		transform: translateY(0px)